<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShoppersStack1 Automation Suite">
<listeners>
<listener class-name="genricUtilities.MyListeners"></listener>
</listeners>
  <test name="ShoppersStack1 Tests">
    <classes>
 <class name="shopperstack.Payment.Payment"/>
 <class name="shopperstack.LoginTest.LoginwithInvalidCredentials"/>
 <class name="shopperstack.LoginTest.LoginwithInvalidEmailAndValidPassword"/>
 <class name="shopperstack.LoginTest.LoginwithValidCredential"/>
 <class name="shopperstack.LoginTest.LoginwithValidEmailAndInvalidPassword"/>
 <class name="shopperstack.LoginTest.LoginWithoutProvidingCredentials"/>
 
 <class name="shopperstack.RegisterTest.RegisteringAnAccountWithMandatoryFields"/>
 <class name="shopperstack.RegisterTest.RegisterpasswordMisMatchs"/>
 
 <class name="shopperstack.SearchTest.SearchWithInvalidProduct"/>
 <class name="shopperstack.SearchTest.SearchWithValidProduct"/>
 
 <class name="shopperstack.ProductCategory.beautyCategory"/>
 <class name="shopperstack.ProductCategory.kidsCategory"/>
 <class name="shopperstack.ProductCategory.MenCategory"/>
 <class name="shopperstack.ProductCategory.womanCategory"/>
 
 <class name="shopperstack.BuyProducts.buyProducts"/>
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
